<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<%- include('partials/_header') %>
  <div class="FullPageContainer text-center">
  <h1>Currently Indexed URLs</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Shortened</th>
        <th class="text-center">Original</th>
      </tr>
    </thead>
    <tbody>
      <% for (let url in urls) { %>
        <tr>
          <td><%= url %></td>
          <td><a href="<%= urls[url].longURL %>"><%= urls[url].longURL %></a></td>
          <td>
            <span style="margin-right: 5pt;" class="pull-left"><span class="glyphicon glyphicon-eye-open"></span> <span class="text-center"><%= urls[url].visits.length %></span></span>
            <span><span class="glyphicon glyphicon-user"></span> <%= urls[url].visitors.length %></span>
          </td>
          <td>
            <form method="GET" action="/urls/<%= url %>">
              <button class="btn btn-default" type="submit">Edit <span class="glyphicon glyphicon-pencil"></span></button>
            </form>

          </td>
          <td>
            <form method="POST" action="/urls/<%= url %>?_method=DELETE">
                <button class="btn btn-default" type="submit">Delete <span class="glyphicon glyphicon-trash"></span></button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  </div>
</body>
</html>
